<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="connection.url">jdbc:postgresql://127.0.0.1:5432/librarymanagementsystem</property>
        <property name="connection.username">lms</property>
        <property name="connection.password">password</property>
        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">update</property>
        <!-- SHOW SQL QUERIES HIBERNATE SENDS -->
        <property name="show_sql">true</property>
        <property name="use_sql_comments">true</property>
        <property name="connection.pool_size">1</property>

        <!-- Use these properties for production.
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">1800</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        -->

        <!-- Cache properties
        <property name="cache.use_second_level_cache">true</property>
        <property name="cache.provider_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</property>
        -->

        <!-- Hibernate Search Properties -->
        <property name="hibernate.search.default.directory_provider">filesystem</property>
        <property name="hibernate.search.default.indexBase">/Users/denislavrov/Documents/Developing/Java/Library-Management-System/lucene/index</property>

        <!-- Entity mapping -->
        <mapping class="Persistance.Book"/>
        <mapping class="Persistance.BookEntity"/>
        <mapping class="Persistance.BookLease"/>
        <mapping class="Persistance.BookReturn"/>
        <mapping class="Persistance.Employee"/>
        <mapping class="Persistance.Item"/>
        <mapping class="Persistance.ItemEntity"/>
        <mapping class="Persistance.ItemLease"/>
        <mapping class="Persistance.ItemReturn"/>
        <mapping class="Persistance.Magazine"/>
        <mapping class="Persistance.MagazineEdition"/>
        <mapping class="Persistance.MagazineEntity"/>
        <mapping class="Persistance.Member"/>
        <mapping class="Persistance.Visit"/>
        <mapping class="Persistance.BookRequest"/>


    </session-factory>
</hibernate-configuration>